[MASTER]
disable=
    E203, # whitespace before ':' https://github.com/PyCQA/pycodestyle/issues/373
    bad-continuation, # https://github.com/psf/black/issues/48
    import-outside-toplevel, # resolves circular imports
[FORMAT]
good-names=e,f,i,id